package:
  name: {{ project_name }}
  version: {% raw %}{{ PLUGIN_VERSION }}{% endraw %}
  foo: bar

source:
  path: ..

build:
  script: make install

requirements:
  build:
    - setuptools
    - versioningit

  host:
    - python {% raw %}{{ python }}{% endraw %}
    - pip
    - setuptools
    - versioningit
    - wheel

  run:
    - python {% raw %}{{ python }}{% endraw %}

test:
  requires:
    - qiime2 >={% raw %}{{ qiime2 }}{% endraw %}
    - pytest

  imports:
    - {{ plugin_name }}
    - qiime2.plugins.{{ module_name }}

  commands:
    - py.test --pyargs {{ plugin_name }}

about:
  home: {{ project_urls_homepage }}
  license: {{ project_license_type }}
  license_family: {{ project_license_family }}
