package:
  name: {{ package_name }}
  version: {{ PLUGIN_VERSION }}

source:
  path: ../..

build:
  script: make install

requirements:
  build:
    # nodejs is only necessary in the build phase - our build script needs it
    # in order to render out transpiled js assets for various visualizations.
    # once rendered, node is no longer necessary. don't set this in host reqs.
    - nodejs
    - setuptools
    - versioningit

  host:
    - python {{ python }}
    - pip
    - setuptools
    - versioningit
    - wheel

  run:
    - python {{ python }}

test:
  requires:
    - qiime2 >={{ qiime2 }}
    - pytest

  imports:
    - {{ plugin_name }}
    - qiime2.plugins.{{ module_name }}

  commands:
    - py.test --pyargs {{ plugin_name }}

about:
  home: {{ project_urls_homepage }}
  license: {{ project_license_type }}
  license_family: {{ project_license_family }}
